<!DOCTYPE html>
<html>
  <head>
    <title>Mapa de Cafeterias</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt9hfwblf8bTiSSlbOygyjTH5d77NXSa0&callback=initMap&libraries=places"></script>
    <script>
      let map;
      let infowindow;
      let userMarker;
      
      function initMap() {
        infowindow = new google.maps.InfoWindow();
        
        // Verifica se o navegador suporta geolocalização
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            const userLocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            
            map = new google.maps.Map(document.getElementById('map'), {
              center: userLocation,
              zoom: 14,
              styles: [
                {
                  featureType: 'poi',
                  elementType: 'labels.icon',
                  stylers: [{ visibility: 'off' }]
                }
              ]
            });
            
            userMarker = new google.maps.Marker({
              position: userLocation,
              map: map,
              title: 'Sua localização',
              icon: {
                path: google.maps.SymbolPath.CIRCLE,
                fillColor: 'blue',
                fillOpacity: 1,
                scale: 10,
                strokeColor: 'white',
                strokeWeight: 2
              }
            });
          }, function() {
            handleLocationError(true, infowindow, map.getCenter());
          });
        } else {
          // Navegador não suporta geolocalização
          handleLocationError(false, infowindow, map.getCenter());
        }

        const cafes = JSON.parse('{{ cafes_json|escapejs }}');
        const geocoder = new google.maps.Geocoder();

        cafes.forEach(cafe => {
          const enderecoCompleto = `${cafe.fields.endereco}, ${cafe.fields.complemento}, ${cafe.fields.bairro}, ${cafe.fields.cidade}, ${cafe.fields.estado}, ${cafe.fields.cep}`;
          geocoder.geocode({ 'address': enderecoCompleto }, function (results, status) {
            if (status == 'OK') {
              const marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                title: cafe.fields.nome_loja,
                icon: {
                  path: google.maps.SymbolPath.CROSS,
                  scale: 10,
                  fillColor: '#FF0000',
                  fillOpacity: 1,
                  strokeWeight: 1,
                  strokeColor: '#FFFFFF'
                }
              });

              google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(`<div><strong>${cafe.fields.nome_loja}</strong><br>${enderecoCompleto}</div>`);
                infowindow.open(map, this);
              });
            } else {
              console.log('Geocode falhou devido a: ' + status);
            }
          });
        });
      }

      function handleLocationError(browserHasGeolocation, infowindow, userLocation) {
        infowindow.setPosition(userLocation);
        infowindow.setContent(browserHasGeolocation ?
                              'Erro: O serviço de geolocalização falhou.' :
                              'Erro: Seu navegador não suporta geolocalização.');
        infowindow.open(map);
      }
    </script>
  </head>
  <style>
    #map {
      height: 50%;
      width: 50%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    <div id="map"></div>
  </body>
</html>
