<!DOCTYPE html>
<html>
  <head>
    <title>Mapa de Cafeterias</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt9hfwblf8bTiSSlbOygyjTH5d77NXSa0&callback=initMap&libraries=places"></script>
    <script>
      let map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: { lat: -8.059683799743652, lng: -34.87248992919922 },
          zoom: 14
        });

        const cafes = JSON.parse('{{ cafes_json|escapejs }}');
        const geocoder = new google.maps.Geocoder();

        cafes.forEach(cafe => {
          const enderecoCompleto = `${cafe.fields.endereco}, ${cafe.fields.complemento}, ${cafe.fields.bairro}, ${cafe.fields.cidade}, ${cafe.fields.estado}, ${cafe.fields.cep}`;
          geocoder.geocode({ 'address': enderecoCompleto }, function (results, status) {
            if (status == 'OK') {
              const marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                title: cafe.fields.nome_loja
              });
            } else {
              console.log('Geocode falhou devido a: ' + status);
            }
          });
        });
      }
    </script>
  </head>
  <style>
    #map {
      height: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
  <body>
    <div id="map"></div>
  </body>
</html>
