<!DOCTYPE html>
<html>
  <head>
    <title>Simple Marker</title>
    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf1Peszt2DibuDIV89VNyuORYl7KCvhX4&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    
  </head>
  <style>

    /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

  </style>
  <body>
    <gmp-map center="-8.059683799743652,-34.87248992919922" zoom="14" map-id="DEMO_MAP_ID">
      <gmp-advanced-marker position="-8.059683799743652,-34.87248992919922" title="My location"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>