{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'visperfil2.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Perfil Usuário</title>
</head>

<body>
  {% block content %}
    <!-- ADICIONANDO BARRA DE NAVEGAÇÃO-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary mt-0">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'Logo.png' %}" class="w-25 p-3"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" style="color: burlywood;" aria-current="page" href="{% url 'menu' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" style="color: burlywood;" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="color: burlywood;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                  Dropdown
                </a>
                <ul class="dropdown-menu" style="background-color: burlywood;">
                  <li><a class="dropdown-item" style="color: #261B11;" href="#">Action</a></li>
                  <li><a class="dropdown-item" style="color: #261B11;" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" style="color: #261B11;" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" style="color: burlywood;" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    
      <div class="container text-center fs-2">
        <div class="row align-items-start">
          <div class="col border">
            <br>
            {% if cafeteria.arq %}
              <img src="{{ cafeteria.arq }}" alt="Imagem do Perfil" class="foto-quadrada foto-redonda" >
            {% else %}
                <p>Imagem não disponível</p>
            {% endif %}
            <br><br>

            <a href="{% url 'edit_perfil' nome_loja=cafeteria.nome_loja %}" style="margin-left: 40%;">
              <button type="submit" class="btn btn-primary">Editar perfil</button>
          </a>
            
            <p class="text-start te position-relative width:100px">Cardápio:</p>
            
            <div class="cardapio">
                <img src="https://marketplace.canva.com/EAE3yDrBBVU/1/0/1131w/canva-card%C3%A1pio-de-caf%C3%A9s-para-cafeteria-moderno-marrom-AmpHQUqP6mg.jpg">
            </div>
            <br><br>
          </div>
          
          <div class="col border">
            <div class="d-flex align-items-center">
              <p class="text-start me-3">Cafeteria: {{ cafeteria.nome_loja }}</p>
              <div class="con-like">
                
                  <form action="{% url 'favorited_coffeeshop' %}" method="POST" class="ui form">
                      {% csrf_token %}
                      <input type="hidden" name="post_id" value="{{ cafeteria.nome_loja }}">
                      {% if favorited %}
                          <button type="submit" class="ui button positive">❤</button>
                      {% else %}
                          <button type="submit" class="ui button negative">♡</button>
                      {% endif %}
                  </form>

              </div>
            </div>
            
            <hr>
            <p class="text-start">História</p>
            <p class="text-start fs-6">{{ cafeteria.descricao }}</p>
            <hr>
            <p class="text-start">Tags</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">

              {% for tag in tags %}
                <div class="tag-item">
                    <h6>{{tag.tag_name}}</h6>
                    <button type="button" class="btn btn-danger btn-sm remove-tag-button" data-tag-id="{{ tag.id }}">X</button>
                </div>
              {% endfor %}
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Adicionar +
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Nova Tag:</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="col-md-4">
                        <label for="inputState" class="form-label fs-5">Opções:</label>
                        <select id="inputState" class="form-select" name="inputState">
                          <option selected>Escolha...</option>
                          <option>Trabalho</option>
                          <option>Estudo</option>
                          <option>Business</option>
                          <option>Pet Friendly</option>
                          <option>Café Arábica</option>
                          <option>Café Catuaí</option>
                          <option>Café Robusta</option>
                          <option>Café Geisha</option>
                          <option>Café Kona</option>
                        </select>
                        <button type="button" class="btn btn-primary mt-3" id="saveTagButton" data-cafeteria="{{ cafeteria.nome_loja }}">Salvar</button>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Adicione o token CSRF necessário para o Django -->
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

              <script>
                document.getElementById('saveTagButton').addEventListener('click', function() {
                  const selectedTag = document.getElementById('inputState').value;
              
                  if (selectedTag === "Escolha...") {
                    alert("Por favor, selecione uma tag.");
                    return;
                  }
              
                  const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                  const cafeteriaName = this.getAttribute('data-cafeteria'); // Captura o nome da cafeteria
              
                  fetch("{% url 'add_tag' %}", {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                      tag: selectedTag,
                      post_id: cafeteriaName // Adiciona o nome da cafeteria ao corpo da requisição
                    })
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.success) {
                      alert("Tag adicionada com sucesso!");
                      location.reload(); // recarrega a página para mostrar a tag adicionada
                    } else {
                      alert("Houve um erro ao adicionar a tag.");
                    }
                  });
                });

                document.querySelectorAll('.remove-tag-button').forEach(button => {
                  button.addEventListener('click', function() {
                    const tagId = this.getAttribute('data-tag-id');
                    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    fetch("{% url 'remove_tag' %}", {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                      },
                      body: JSON.stringify({ tag_id: tagId })
                    })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success) {
                        alert("Tag removida com sucesso!");
                        location.reload(); // recarrega a página para atualizar as tags
                      } else {
                        alert("Houve um erro ao remover a tag.");
                      }
                    });
                  });
                });
              </script>
            </div>
            <hr>
            <p class="text-start ">Avaliação</p>
            
            <div class="formulario">
              <form id="avaliacaoForm" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="avaliado" value="{{ cafeteria.nome_loja }}">
                  <div class="rating">
                      <input type='radio' hidden name='rate' id='rating_5' data-idx='0' value='5'>	
                      <label for='rating_5'></label>
                  
                      <input type='radio' hidden name='rate' id='rating_4' data-idx='1' value='4'>
                      <label for='rating_4'></label>
                  
                      <input type='radio' hidden name='rate' id='rating_3' data-idx='2' value='3'>
                      <label for='rating_3'></label>
                  
                      <input type='radio' hidden name='rate' id='rating_2' data-idx='3' value='2'>
                      <label for='rating_2'></label>
                  
                      <input type='radio' hidden name='rate' id='rating_1' data-idx='4' value='1' required>
                      <label for='rating_1'></label>
                  </div>
          
                  <div class="wrapper">
                      <button href="#" class="enviar-avaliacao" type="submit"><span>Enviar</span></button>
                  </div>
              </form>
              <div id="erroMessage" style="display: none; color: red;"></div>
          </div>

          <div id="popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 128, 0, 0.7); color: #fff; padding: 20px; border-radius: 5px; z-index: 9999;">
            Avaliação enviada com sucesso!
        </div>
        
          <script>
            document.getElementById("avaliacaoForm").addEventListener('submit', function(event) {
                event.preventDefault(); // Impede o envio do formulário padrão
                enviarAvaliacao(); // Função para enviar a avaliação via AJAX
            });
        
            function enviarAvaliacao() {
                var formData = new FormData(document.getElementById("avaliacaoForm")); // Obtém os dados do formulário
        
                // Envia os dados via AJAX usando Fetch API
                fetch("{% url 'perfil' nome_cafeteria=cafeteria.nome_loja %}", {
                    method: "POST",
                    body: formData,
                    headers: {
                        "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value // Adiciona o token CSRF no cabeçalho
                    }
                })
                .then(response => {
                    if (response.ok) {
                        return response.json(); // Retorna a resposta como JSON se for bem-sucedida
                    } else {
                        throw new Error("Erro ao enviar avaliação"); // Lança um erro se a resposta não for bem-sucedida
                    }
                })
                .then(data => {
                    if (data.status === "success") {
                        // Exibe o pop-up de sucesso
                        mostrarPopup("Avaliação enviada com sucesso!", "popup");
                        document.getElementById("avaliado").value = ""; // Limpa o campo de texto 'avaliado'
                        document.getElementById("rating_1").checked = false; // Desmarca a opção de avaliação
                    } else {
                        // Exibe um pop-up de erro informando que o usuário não foi encontrado
                        mostrarPopup("Usuário não encontrado", "erroPopup");
                    }
                })
                .catch(error => {
                    console.error('Erro:', error); // Exibe o erro no console
                    mostrarPopup("Erro ao enviar avaliação. Por favor, tente novamente.", "erroPopup"); // Exibe mensagem de erro genérica
                });
            }
        
            function mostrarPopup(mensagem, idPopup) {
                var popup = document.getElementById(idPopup);
                popup.innerText = mensagem;
                popup.style.display = "block";
                setTimeout(function() {
                    popup.style.display = "none";
                }, 1000); // Oculta o pop-up após 1 segundo
            }
        </script>


            <hr>
            <p class="text-start">Endereço</p>
            <p class="text-start fs-6">{{ cafeteria.endereco }}</p>
            <img src="https://tm.ibxk.com.br/2021/12/20/20095730932072.jpg?ims=1200x675" class="w-75 p-3">
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  {% endblock content %}
</body>
</html>
